{% extends "base.html" %} <br />
{% block title%}프로필 변경 {% endblock title %} <br />
{% load static %}{% block content%}
<style>
  .profile_img {
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .profile_img:hover {
    transform: scale(1.1);
    border: 1px solid #000;
    background-color: #ccc;
  }
</style>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
    <div class="sm:mx-auto sm:w-full md:max-w-lg">
      <img class="mx-auto h-[100px] w-auto" src="{% static 'img/PROFILE.png' %}" />
    </div>

    <div class="flex flex-col mx-auto w-full max-w-lg">
      <p class="pt-10">
        <img
          class="h-40 w-40 m-auto rounded-full profile_img hover:pointer"
          src="{% if profile_user.profile_img %}{{ profile_user.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}"
          width="200px"
          alt="profile_img"
        />
        <input
          class="hidden profile_img_select"
          type="file"
          name="profile_img"
          accept="image/*"
          id="id_profile_img"
        />
      </p>
      <div class="flex flex-row justify-between">
        <div class="blank text-gray-300"></div>
        <div class="nickname">
          <h2
            class="mt-6 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900"
          >
            <input
              class="text-center rounded"
              type="text"
              name="nickname"
              value="{% if profile_user.nickname %}{{ profile_user.nickname }}"
              placeholder="{%else%}닉네임을 설정해주세요.{% endif %}"
              maxlength="50"
              id="id_nickname"
            />
          </h2>
        </div>
        <div class="blank text-gray-300"></div>
      </div>
      <textarea
        class="bg-gray-400 rounded m-auto mt-4 pt-4 pb-2 text-lg font-medium w-full resize-none scrollbar-hide"
        name="introduce"
        maxlength="200"
        id="id_introduce"
        rows="auto"
      >
      {% if profile_user.introduce %}{{ profile_user.introduce }}
      {%else%}자기소개를 해보세요.{%endif %}
      </textarea>
      <div class="profile_detail pt-8 pl-4 pb-5">
        <p class="pt-4 text-lg font-medium">
          사용자 이름:<input
            class="ml-2 pl-2 rounded"
            type="text"
            name="username"
            value="{{ profile_user.username }}"
            maxlength="20"
            autocapitalize="none"
            autocomplete="username"
            required
            id="id_username"
          />
        </p>
        <p class="pt-2 text-md font-medium">※이름으로 블로그를 구분합니다.</p>
        <p class="pt-2 text-lg font-medium">
          비밀번호:
          <a
            class="text-lg text-gray-600 font-medium underline decoration-solid"
            href="{% url "accounts:change_password" %}"
            >비밀번호 변경</a
          >
        </p>
      </div>

      <input
        class="bg-blue-800 text-gray-300 hover:bg-blue-500 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
        type="submit"
        value="변경하기"
      />
    </div>
  </div>
</form>
{% endblock content %} <br />
{% block scripts %}
<script>
  // 프로필변경 스크립트 
  // 기존 버튼을 숨긴 후 이미지를 클릭하면 버튼 이벤트 호출
  const profile_img = document.querySelector(".profile_img");
  const profile_button = document.querySelector(".profile_img_select");

  profile_img.addEventListener("click", () => {
    profile_button.click();
  });

  profile_button.addEventListener("change", () => {
    const file = profile_button.files[0];
    const reader = new FileReader();

    reader.onload = () => {
      profile_img.src = reader.result;
    };

    reader.readAsDataURL(file);
  });
</script>
{% endblock scripts %}
