<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
      <div class="mb-4">
        회원가입
        <h4>SingUp</h4>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <p>
          <input type="text" name="username" placeholder="이름" />
        </p>
        <p>
          <input type="email" name="email" placeholder="이메일" />
        </p>
        <p>
          <input type="password" name="password1" placeholder="비밀번호" />
        </p>
        <p>
          <input type="password" name="password2" placeholder="비밀번호 확인" />
        </p>

        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" />
      </form>
      <div class="alert alert-danger" role="alert">
        <ul>
          {% for field, errors in form.errors.items %}
          <li>
            {{ field }}: {% for error in errors %} {{ error }} {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
