{% comment %} {% extends "base.html" %}{% load static %} <br />
{% block title%}테스트글목록{%endblock title %}

<!-- 플렉스 column 3개 a,
div, div 320,376 a(썸네일 이미지) 없다면 생략 div(글제목, 내용, 날짜, 댓글수)
제목내용에 a테그, //밑에 날짜 댓글 hr div(프로필사진, 사용자이름, 좋아요 수)  
 -->

<hr />
{% block content %}
<div class="max-w-7xl mx-auto">
    <h2 class="text-2xl font-bold mb-4">테스트용 포스트 목록</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pl-4 pr-4">
        {% for post in object_list %}

        <div class="post-card flex flex-col">
            <div
                class="bg-gray-600 hover:bg-gray-700 w-full rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <div class="post_thumbnail">
                        {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="" class="w-full h-48 rounded" />
                        {% endif %}
                </a>

            </div>
            <div class="post_content post_subinfo flex flex-col pt-1 pl-2 pr-2">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <p class="title text-[#ECECEC] text-xl font-bold">{{ post.title }}</p>
                    <div class="post_detail text-[#ECECEC] pt-1 text-sm h-[8rem]">
                        {% if post.thumbnail %}<p>{{ post.content | truncatechars:100 }}</p>
                        {% else %} <p>{{ post.content | truncatechars:250 }}</p>{% endif %}
                    </div>
                </a>
                <div class="post_subinfo {% if post.thumbnail %}{% else %}pt-48 {% endif %}">
                    {% if post.updated_at %}
                    <span class="post_date text-[12px] text-gray-500">{{ post.updated_at }}</span>
                    {% else %}
                    <span class="post_date text-[12px]">{{ post.created_at }}</span>
                    {% endif %}
                    <span class="post_comment text-[12px] text-gray-500">| 0개의 댓글</span>
                    <div class="post_views">
                        <p class="text-sm text-gray-500">
                            조회수: {{ post.views | add:-1 }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="border-[#757575]">
            <div class="post_footer pt-1 pl-2 pr-2 pb-1 h-10 flex flex-row justify-between">
                <a class="profile flex flex-row" href="#">
                    {% if post.author.profile_img %}
                    <img class="h-7 w-7 rounded-full" src="{{ post.author.profile_img.url }}" />
                    {% else %}
                    <img class="h-7 w-7 rounded-full" src="{% static 'img/profile-default.jpg' %}" />
                    {% endif %}
                    {% if post.author.nickname %}
                    <span class="pl-2 pt-2 text-[12px] text-[#757575]">by <b class="text-[#ECECEC]">
                            {{post.author.nickname }}</b></span>
                    {% else %}
                    <span class="pl-2 pt-2 text-[12px] text-[#757575]">by <b class="text-[#ECECEC]">
                            {{ post.author.username }}</b></span>
                    {% endif %}
                </a>

                <div class="post_likecount pr-4">
                    <p class="pt-2 text-sm text-[#ECECEC]">좋아요: {{post.likecount}}</p>
                </div>
            </div>



        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %} {% endcomment %}