{% extends "base.html" %}{% load static %} <br />
{% block title%}글목록{%endblock title %}

<hr />
{% block content %}
<div class="max-w-7xl mx-auto">
    <p class="pl-4 pb-2 text-lg sm:text-3xl font-bold">전체글</p>
    <div class="ml-5 mr-5 mb-4 border-2 border-zinc-700"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pl-4 pr-4">
        {% for post in object_list %}

        <div class="post-card flex flex-col">
            <div
                class="bg-gray-600 hover:bg-gray-700 w-full rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <div class="post_thumbnail">
                        {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="" class="w-full h-48 rounded" />
                        {% endif %}
                </a>

            </div>
            <div class="post_content post_subinfo flex flex-col pt-1 pl-2 pr-2">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <p class="title text-[#ECECEC] text-xl font-bold">{{ post.title }}</p>
                    <div class="post_detail text-[#ECECEC] pt-1 text-sm overflow-hidden h-[{% if post.thumbnail %}8rem{% else %}20rem{% endif %}]">
                        {% if post.thumbnail %}<p>{{ post.content | truncatechars:150 }}</p>
                        {% else %} <p>{{ post.content | truncatechars:350 }}</p>{% endif %}
                    </div>
                </a>
                <div class="post_subinfo ">
                    {% if post.updated_at %}
                    <span class="post_date text-[12px] text-gray-500">{{ post.updated_at }}</span>
                    {% else %}
                    <span class="post_date text-[12px]">{{ post.created_at }}</span>
                    {% endif %}
                    <span class="post_comment text-[12px] text-gray-500">| 0개의 댓글</span>
                    <div class="post_views">
                        <p class="text-sm text-gray-500">
                            조회수: {{ post.views }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="border-[#757575]">
            <div class="post_footer pt-1 pl-2 pr-2 pb-1 h-10 flex flex-row justify-between">
                <a class="profile flex flex-row" href="{% url "blog:post_user" post.author.username %}">
                    <img class="h-7 w-7 rounded-full" src="{% if post.author.profile_img %}{{ post.author.profile_img.url }}{% else %}{% static 'profile-default.jpg' %}{% endif %}" />
                    <span class="pl-2 pt-2 text-[12px] text-[#757575]">by <b class="text-[#ECECEC]">
                        {% if post.author.nickname %}{{post.author.nickname }}{% else %}{{ post.author.username }}{% endif %}</b></span>
                </a>
                <div class="post_likecount pr-4">
                    <p class="pt-2 text-sm text-[#ECECEC]">좋아요: {{post.likecount}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}