{% extends "base.html" %} {% block title %}글 내용{% endblock title %} <br />
{%block content %} {% load markdown_deux_tags %}
<div
  class="flex min-h-full flex-col justify-center align-center px-6 py-8 lg:px-8"
>
  <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-3xl">
    <p>제목{{ object.title }}</p>
    {% if object.author.nickname %}
    <p>글쓴이:{{ object.author.nickname }}</p>
    {% else %}
    <p>글쓴이:{{ object.author.username }}</p>
    {% endif %}
    <p>썸네일{{ object.thumbnail }}</p>
    <p>파일{{ object.file_upload }}</p>
    <div class="post-content xl:w-full leading-relaxed">
      {{ object.content|markdown }}
    </div>
  </div>
</div>

{% endblock content %} {% block scripts %}
<script>
  const h1s = document.querySelectorAll("h1");
  const h2s = document.querySelectorAll("h2");
  const h3s = document.querySelectorAll("h3");
  const h4s = document.querySelectorAll("h4");
  const h5s = document.querySelectorAll("h5");
  const ols = document.querySelectorAll("ol");
  const ps = document.querySelectorAll("p");

  h1s.forEach((h1) => {
    h1.classList.add("text-5xl");
    h1.classList.add("font-bold");
    h1.classList.add("mt-4");
  });
  h2s.forEach((h2) => {
    h2.classList.add("text-4xl");
    h2.classList.add("font-bold");
    h2.classList.add("mt-4");
  });
  h3s.forEach((h3) => {
    h3.classList.add("text-3xl");
    h3.classList.add("font-bold");
    h3.classList.add("mt-4");
  });
  h4s.forEach((h4) => {
    h4.classList.add("text-2xl");
    h4.classList.add("font-bold");
    h4.classList.add("mt-4");
  });
  h5s.forEach((h5) => {
    h5.classList.add("text-xl");
    h5.classList.add("font-bold");
    h5.classList.add("mt-4");
  });
  ols.forEach((ol) => {
    ol.classList.add("list-decimal");
    ol.classList.add("list-inside");
  });
  ps.forEach((p) => {
    p.classList.add("mt-4");
  });
</script>
{% endblock scripts %}
