{% extends "base.html" %}{% load static %} <br />
{% block title%}{% if order.popular %}{{ order.popular }}{% else %}글목록{% endif %}{%endblock title %}
<hr />
{% block content %}{% load markdown_deux_tags %}
{% csrf_token %}

<div class="max-w-7xl mx-auto">
    <p class="pl-4 pb-2 text-lg sm:text-3xl font-bold">{% if order.popular %}{{ order.popular }}{% else %}전체글{% endif %}</p>
    <div class="ml-5 mr-5 mb-4 border-2 border-zinc-700"></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pl-4 pr-4">
        {% for post in object_list %}

        <div class="post-card flex flex-col hover:-translate-y-2 transition-all">
            <div
                class="bg-gray-600 hover:bg-gray-700 w-full rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <div class="post_thumbnail">
                        {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="" class="w-full h-40 rounded-t-lg object-cover" />
                        {% endif %}
                </a>

            </div>
            <div class="post_content post_subinfo flex flex-col pt-1 pl-2 pr-2">
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <p class="title text-[#ECECEC] text-xl font-bold">{{ post.title }}</p>
                    <div class="post_detail text-[#ECECEC] pt-1 text-sm overflow-hidden h-[{% if post.thumbnail %}5rem{% else %}15rem{% endif %}]">
                        {% if post.thumbnail %}<p class="post_detail_text" id="post_detail_text_{{ post.pk }}">{{ post.content | truncatechars:100 }}</p>
                        {% else %} <p class="post_detail_text" id="post_detail_text_{{ post.pk }}">{{ post.content | truncatechars:250 }}</p>{% endif %}
                        <script>
                            // 이미지 태그를 제거하는 함수.
                            function removeImageTags(text, postId) {
                                // 이미지 태그를 제거하는 정규 표현식.
                                const regex = /!\[[^\]]*\]\([^\)]*\)/g;
                                const cleanedText = text.replace(regex, '');  
                                document.getElementById(`post_detail_text_${postId}`).textContent = cleanedText;  // 업데이트된 텍스트로 대체
                            }
                            removeImageTags(`{{ post.content|safe }}`, {{ post.pk }});
                        </script>
                    </div>
                </a>
                <div class="post_subinfo ">
                    {% if post.updated_at %}
                    <span class="post_date text-[12px] text-gray-500">{{ post.updated_at }}</span>
                    {% else %}
                    <span class="post_date text-[12px]">{{ post.created_at }}</span>
                    {% endif %}
                    <span class="post_comment text-[12px] text-gray-500">| {{ post.comments_count }}개의 댓글</span>
                    <div class="post_views">
                        <p class="text-sm text-gray-500">
                            조회수: {{ post.views }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="border-[#757575]">
            <div class="post_footer pt-1 pl-2 pr-2 pb-1 h-10 flex flex-row justify-between">
                <a class="profile flex flex-row" href="{% url "blog:post_user" post.author.username %}">
                    <img class="h-7 w-7 rounded-full" src="{% if post.author.profile_img %}{{ post.author.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}" />
                    <span class="pl-2 pt-2 text-[12px] text-[#757575]">by <b class="text-[#ECECEC]">
                        {% if post.author.nickname %}{{post.author.nickname }}{% else %}{{ post.author.username }}{% endif %}</b></span>
                </a>
                <div class="post_likecount pr-4 pt-1">
                    <p><span class="pt-2 text-sm text-[#ECECEC]">
                        <button class="like-button" data-post-id="{{ post.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill=""
                                class="bi bi-suit-heart-fill like-heart"
                                viewBox="0 0 16 16"
                                style="fill: {% if post.id in liked_posts %}rgba(255, 194, 185, 1){% else %}currentColor{% endif %}"
                                >
                                
                                <path
                                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                            </svg>
                        </button>
                    </span>
                        <span class="" id="like-count-{{ post.id }}">{{ post.like_count }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
{% block scripts %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // ajax요청을 js파일로 따로 빼니까 오류가 생겨 현재 파일에 그대로 작성

        //csrf토큰
        const csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        $(document).ready(function () {
            $(".like-button").on("click", function () {
                var postID = $(this).data("post-id"); // 클릭한 버튼의 data-post-id 값을 가져옴
                var clickedButton = $(this); 
                var url = "{% url 'blog:like_post' pk=0 %}".replace("0", postID);
    
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                    },
                    success: function (data) {
                        // 업데이트된 좋아요 수를 템플릿에 반영
                        $("#like-count-" + postID).text(data.like_count);
                        // 좋아요 또는 좋아요 취소 버튼 토글
                        if (data.is_liked) {
                            clickedButton.find(".like-heart").css("fill", "currentColor");
                        } else {
                            clickedButton.find(".like-heart").css("fill", "rgba(255, 194, 185, 1)");
                        }
                    }
                });
            });
        });
    </script>
    


{% endblock scripts %}


