{% extends 'blog/base.html' %}
<br />
{% block title %}{% if "/create/" in request.path %} New Post {% else %}
EditPost {% endif %} {% endblock %} {% block content %} <a />
{% if "/create/" in request.path %}
<h1>글쓰기</h1>
{% else %}
<h1>글 수정</h1>
{% endif %}

<form action="" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      name="content"
      rows="10"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="thumbnail">Thumbnail</label>
    <input
      type="file"
      class="form-control-file"
      id="thumbnail"
      name="thumbnail"
    />
  </div>

  <div class="form-group">
    <label for="file_upload">File upload</label>
    <input
      type="file"
      class="form-control-file"
      id="file_upload"
      name="file_upload"
    />
  </div>

  <input type="submit" value={% if "/create/" in request.path %}"Create post"
  {%else %} "Edit post" {% endif %} class="btn btn-primary bg-blue-300 rounded"
  />
</form>

{% endblock %}
