{% extends "blog/base.html" %}{% load static %} <br />
{% block title%}글목록{%endblock title %}

<hr />
{% block content %}
<div class="max-w-7xl mx-auto">
  <h2 class="text-2xl font-bold mb-4">포스트 목록</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for post in object_list %}
    <a href="{% url 'blog:post_detail' post.pk %}">
      <div
        class="bg-white max-width:100px rounded-lg shadow-md hover:shadow-xl transition duration-300 ease-in-out"
      >
        <div class="post_title p-4">
          <img src="{{post.thumbnail}}" alt="" class="w-8 h-8 rounded-full" />
          <p class="title text-xl font-bold">{{ post.title }}</p>
          {% if post.updated_at %}
          <p class="study_deadline text-sm">{{ post.updated_at }}</p>
          {% else %}
          <p class="study_deadline text-sm">{{ post.created_at }}</p>
          {% endif %}
        </div>
        <div class="post_author p-4 flex flex-row gap-2 items-center">
          {% if post.author.nickname %}
          <p class="text-sm">{{ post.author.nickname }}</p>
          {% else %}
          <p class="text-sm">{{ post.author.username }}</p>
          {% endif %} {% if post.author.profile_img %}
          <img
            class="h-8 w-8 rounded-full"
            src="{{ post.author.profile_img.url }}"
          />
          {% else %}
          <img
            class="h-8 w-8 rounded-full"
            src="{% static 'profile-default.jpg' %}"
          />
          {% endif %}
        </div>
        <div class="post_detail p-4 text-sm">
          <p>{{post.content}}</p>
        </div>
        <div class="post_views p-4 flex flex-row gap-2">
          <p class="text-sm">조회수: {{ post.views | add:-1 }}</p>
        </div>
        <div class="post_likecount p-4 flex flex-row gap-2">
          <p class="text-sm">좋아요: {{post.likecount}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
