{% extends 'base.html' %}
<br />
{% block title %}{% if "/create/" in request.path %} 새 글 작성 {% else %}
(작성중) {{ post.title }} {% endif %} {% endblock %} {% block content %} {% load markdown_deux_tags %}
{% load static %}
<link
rel="stylesheet"
href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
/>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<style>
  .post_save {
    transition: all 0.2s ease;
  }

  .post_save:hover {
    transform: scale(1.1);
    border: 1px solid #000;
    
  }
</style>

<div class="pl-4 pr-4">
  <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="form-group">
    <label for="title"></label>
    <input
    type="text"
    class="form-control sm:text-6xl text-4xl bg-gray-300 font-bold w-full"
    id="title"
    name="title"
    value="{% if post.title %}{{ post.title }}{% endif %}"
    placeholder="제목을 입력하세요"
    />
    <div class="form-group pt-1">
      <label for="thumbnail">Thumbnail</label>
      <input
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        value="{% if post.thumbnail %}{{ post.thumbnail.url }}{% endif %}"
      />
    </div>
    <div class="form-group">
      <label for="file_upload">File upload</label>
      <input
        type="file"
        class="form-control-file"
        id="file_upload"
        name="file_upload"
        value="{% if post.file_upload %}{{ post.file_upload.url }}{% endif %}"
      />
    </div>
  </div>
      <div class="bg-slate-100 rounded mt-2 mb-5" id="contents">
        {% if post.content %}{{ post.content|markdown }}{% else %}{% endif %}
      </div>
    <div class="form-group">
      <textarea class="content form-control hidden" id="content" name="content" rows="10">
</textarea
      >
    </div>
    <input
        type="button"
        value={% if "/create/" in request.path %}"Create post"{%else%}"Edit post"{%endif%}
        class="post_save btn btn-primary bg-blue-300 hover:bg-blue-500 t rounded fixed bottom-0 left-0 right-0 cursor-pointer"
      />
      <input type="submit" class="submit hidden">
  </form>
</div>

  {% endblock %} 
  {% block scripts %}
  <script src="{% static "js/post_create.js" %}"></script>
  {% endblock scripts %}
</div>
