{% extends "base.html" %} {% block title %}글 내용{% endblock title %} <br />
{%block content %} {% load markdown_deux_tags %}{% load static %}

<style>
  .textarea {
      resize: none;
      overflow: hidden;
      outline: none;
      height:50px;
    }
</style>
<div
  class="flex min-h-full flex-col justify-center align-center px-6 sm:mx-auto sm:w-full sm:max-w-3xl"
>
  <div class="title-menu flex justify-between">
    <p class="text-4xl font-bold">{{ object.title }}</p>
    {% if post.author.username == request.user or request.user.is_superuser %}
  <div class="actions flex flex-row">
    <a href="{% url "blog:post_update" post.pk %}" class="justify:flex-end sm:ml-6 bg-green-800 text-gray-300 hover:bg-green-500 hover:text-white rounded-md px-3  pt-1 my-1 text-sm font-medium">글 수정</a>
    <a href="#" class="flex-end sm:ml-6 bg-red-600 text-gray-300 hover:bg-red-400 hover:text-white rounded-md px-3  pt-1 my-1 text-sm font-medium" id="delete-post-button">글 삭제</a>
  </div>
    {% endif %}
  </div>
    <div class="post_footer pt-2 pr-2 pb-1 h-10 flex flex-row justify-between">
    <a class="profile flex flex-row" href="{% url 'blog:post_user' post.author.username %}">
      <img class="h-7 w-7 rounded-full" src="{% if post.author.profile_img %}{{ post.author.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}" />
      <span class="pl-2 pt-2 text-[12px] text-[#757575]">by <b>
          {% if post.author.nickname %}{{post.author.nickname }}{% else %}{{ post.author.username }}{% endif %}</b></span>
  </a>
  {% if post.updated_at %}
  <span class="post_date text-[12px] text-gray-500">{{ post.updated_at }}</span>
  {% else %}
  <span class="post_date text-[12px]">{{ post.created_at }}</span>
  {% endif %}
</div>
{% if object.file_upload %}
<p>첨부파일: {{ object.file_upload.name }}({{ object.file_upload.size }}B) <a href="{{ object.file_upload.url }}" target="_blank">다운로드</a></p>
{% else %}{% endif %}
  {% if object.thumbnail %}
    <img class="w-fit mx-auto mt-4" src="{{ object.thumbnail.url }}"></img>
  {% else %}{% endif %}

  <div class="post-content xl:w-full leading-relaxed">
      {{ object.content|markdown }}
    </div>

    <div class="user_profile flex flex-col sm:flex-row mt-36">
      <img class=" w-16 h-16 sm:h-20 sm:w-20 rounded-full flex-none"
          src="{% if post.author.profile_img %}{{ post.author.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}"
          alt="profile_img">
      <div class="flex flex-col pr-6 flex-grow">
          <a href="{% url "blog:post_user" post.author.username %}" class="sm:pl-4 text-2xl sm:text-3xl font-bold hover:underline">{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.username }}{% endif %}</a>
          <div class="w-full  pt-2">
          <textarea class="textarea bg-gray-300 resize-none overflow-hidden w-full sm:pl-4 text-md sm:text-lg" readonly>{% if post.author.introduce %}{{ post.author.introduce }}{% else %}{% endif %}</textarea>
          </div>
      </div>
    </div>
    <div class=" mb-4 border-[1px] border-zinc-700"></div>

    <h2 class="text-3xl">{{ post.comments_count }}개의 댓글</h2>
    <form method="post" action="{% url 'blog:post_detail' post.pk %}">
      {% csrf_token %}
      <textarea 
      name="comment" 
      maxlength="1000" 
      required 
      id="id_comment" 
      class="bg-gray-400 rounded m-auto mt-4 pl-2 pb-2 text-lg font-medium w-full resize-y" 
      rows="3">
    </textarea>
      <button type="submit" class="sm:ml-6 bg-green-600 text-gray-300 hover:bg-green-400 hover:text-white rounded-md px-4 py-3 my-1 text-sm font-medium">댓글 작성</button>
    </form>
    {% for comment in comments reversed %}
  <div>
    {% if not comment.recomment %}
      
    
    <div class="pt-2 pr-2 pb-1 h-10 flex flex-row ">
    <a class="profile flex flex-row" href="{% url 'blog:post_user' comment.author.username %}">
      <img class="h-7 w-7 rounded-full" src="{% if comment.author.profile_img %}{{ comment.author.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}" />
    </a>
    <div class="pl-2 flex flex-col">
      <a href="{% url 'blog:post_user' comment.author.username %}" class=" text-[12px] text-[#757575]"><b>
        {% if comment.author.nickname %}{{comment.author.nickname }}{% else %}{{ comment.author.username }}{% endif %}</b></a>
      <div class="comment_date text-[12px] text-gray-500">{{ comment.updated_at|date:"Y년 m월 d일 H:i" }}</div>
    </div>
  </div>
  <textarea class="post_comment w-full bg-gray-300 resize-y mt-2 outline-0 readonly">{{ comment.comment }}</textarea>
  {% endif %}





      {% for recomment in comments reversed %}
      {% if recomment.recomment == comment %}
    <div class="recomments bg-gray-400 ml-6 mt-1 pl-2 rounded">
      <div class="pt-2 pr-2 pb-1 h-10 flex flex-row">
        <a class="profile flex flex-row" href="{% url 'blog:post_user' recomment.author.username %}">
          <img class="h-7 w-7 rounded-full" src="{% if recomment.author.profile_img %}{{ recomment.author.profile_img.url }}{% else %}{% static 'img/profile-default.jpg' %}{% endif %}" />
        </a>
        <div class="pl-2 flex flex-col">
          <a href="{% url 'blog:post_user' recomment.author.username %}" class=" text-[12px] text-[#757575]"><b>
            {% if recomment.author.nickname %}{{recomment.author.nickname }}{% else %}{{ recomment.author.username }}{% endif %}</b></a>
          <div class="comment_date text-[12px] text-gray-500">{{ recomment.updated_at|date:"Y년 m월 d일 H:i" }}</div>
        </div>
      </div>
      <textarea class="w-full bg-gray-400 resize-y mt-2 pr-2 outline-0 readonly" rows="1">{{ recomment.comment }}</textarea>
    </div>
      {% endif %}
    {% endfor %}


    {% if not comment.recomment %}
      <form method="post" class="post_recomment_create " action="{% url 'blog:post_detail' post.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="hidden" name="recomment" value="{{ comment.id }}">
        <button type="submit">대댓글 작성</button>
      </form>
      {% endif %}

  </div>
{% endfor %}


  </div>
</div>


{% endblock content %} {% block scripts %}
<script src="{% static "js/post_detail.js" %}">

</script>
<script>
  document
  .getElementById("delete-post-button")
  .addEventListener("click", function () {
    if (confirm("글을 삭제하시겠습니까?")) {
      window.location.href = "{% url 'blog:post_delete' post.pk %}";
    }
  });
</script>
{% endblock scripts %}
