{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>


<nav class="bg-gray-700 fixed z-10 top-0 left-0 right-0">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

        <button type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span id="mobile_button" class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="{% url "blog:post_list" %}"><img class="h-8 w-auto" src="{% static "img/LOGO1.png" %}"
            alt="Blog" /></a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {% if request.user.username %}
            <a href="{% url 'blog:post_user' request.user.username %}"
            {% else %}
            <a href="{% url 'accounts:login' %}"
            {% endif %}
              class="text-gray-300 hover:bg-gray-900 hover:text-white rounded-md px-1 py-2 text-sm font-medium"
              aria-current="page">내블로그</a>
            <a href="{% url 'blog:post_list_popular' %}"
              class="text-gray-300 hover:bg-gray-900 hover:text-white rounded-md px-1 py-2 text-sm font-medium">인기글</a>
            <a href="{% url 'blog:post_create' %}"
              class="text-gray-300 hover:bg-gray-900 hover:text-white rounded-md px-1 py-2 text-sm font-medium">글쓰기</a>

          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        


        <div class='max-w-md mx-auto sm:block hidden'>
          <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
              <div class="grid place-items-center h-full w-12 text-gray-300">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
              </div>
              <form action="" method="GET">
              <input
              class="peer h-full w-full outline-none text-sm text-gray-700 pr-2"
              type="text"
              id="search"
              name="q"
              value="{{ request.GET.q }}"
              placeholder="검색" /> 
              <input class="hidden" type="submit" value="검색" />
            </form>
          </div>
      </div>




        {% if user.username %}
        <a href="{% url 'accounts:logout' %}"
          class="logout sm:block sm:ml-6 hidden bg-red-800 text-gray-300 hover:bg-red-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">로그아웃</a>
        {% else %}
        <a href="{% url 'accounts:login' %}"
          class="sm:block sm:ml-6 hidden bg-blue-800 text-gray-300 hover:bg-blue-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">로그인/회원가입</a>
        {% endif %}
        </button>


        <div class="relative ml-3">
          <div>
            <button type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>

              <img class="h-8 w-8 rounded-full" {% if user.profile_img %} src="{{ user.profile_img.url }}" {% else %}
                src="{% static 'img/profile-default.jpg' %}" {% endif %} alt="profile" />
            </button>
          </div>

          <div
            class="picture hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="{% url 'accounts:profile' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
              tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-1">Settings</a>
              {% if request.user.username %}
              <a href="{% url 'accounts:logout' %}" class="logout block px-4 py-2 text-sm text-gray-700" role="menuitem"
              tabindex="-1" id="user-menu-item-2">Sign out</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      {% if request.user.username %}
            <a href="{% url 'blog:post_user' request.user.username %}"
            {% else %}
            <a href="{% url 'accounts:login' %}"
            {% endif %}
        class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page">내블로그</a>
        <a href="{% url 'blog:post_list_popular' %}"
        class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">인기글</a>
        <a href="{% url 'blog:post_create' %}"
        class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">글쓰기</a>
        {% if user.username %}
        <a href="{% url 'accounts:logout' %}"
        class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">로그아웃</a>
        {% else %}
        <a href="{% url 'accounts:login' %}"
          class="text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium">로그인/회원가입</a>
        {% endif %}
        
    </div>
  </div>
</nav>

<script class='navbar_script'>
  const button = document.getElementById("user-menu-button");
  const menu = document.querySelector(".picture");
  const mobilebutton = document.getElementById("mobile_button");
  const mobilemenu = document.getElementById('mobile-menu')
  const logoutbuttons = document.querySelectorAll('.logout')

  function toggleMenu() {
    menu.classList.toggle("hidden");
  }
  function toggleMobileMenu() {
    mobilemenu.classList.toggle("hidden");
  }
  function logout() {
    alert('로그아웃 되었습니다.')
  }

  mobilebutton.addEventListener("click", toggleMobileMenu);
  button.addEventListener("click", toggleMenu);
  for (const logoutbutton of logoutbuttons) {
    logoutbutton.addEventListener("click", logout);
  }

</script>

<body class="font-sans bg-gray-300 pt-20">
  {% block content %} {% endblock content %}
</body>
{% block scripts %}{% endblock scripts %}
</html>